.user-dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 24px;
}

.user-dropdown__toggle {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  padding: 24px 16px 0px 8px;
  font-family: "Bruno-Ace";
  font-weight: bold;
  font-size: 24px;
  outline: none;
}

.user-dropdown__toggle:hover {
  transform: scale(1.1);
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.user-dropdown__menu {
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: white;
  min-width: 160px;
  padding: 8px 0px;
  max-height: 200px;
  transition: 0.1s;
}

.user-dropdown__item {
  padding: 8px 16px 8px 28px;
  cursor: pointer;
  font-family: "Bruno-Ace";
  transition: 0.1s;
}

.user-dropdown__item:hover {
  transform: scale(1.1);
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
