.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Bruno-Ace";
  font-style: normal;
  color: black;
}

.app__profile-page-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

@media screen and (max-width: 800px) {
  .app__profile-page-container {
    flex-direction: column;
  }
}
