.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Bruno-Ace";
  font-style: normal;
  color: black;
}

.app__profile-page-container {
  display: grid;
  grid-template-columns: 180px auto;
  width: 100%;
  max-width: 1440px;
}

@media screen and (max-width: 800px) {
  .app__profile-page-container {
    display: flex;
    flex-direction: column;
  }
}
