.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__title-picture {
  margin: 24px 0 0 0;
  width: 300px;
  height: 300px;
}

.main__parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  color: #19e6da;
  font-weight: bold;
  font-size: 70px;
}

.main__text {
  margin: 10px 0;
  color: #c7a47a;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .main__text {
    max-width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .main__title-picture {
    width: 200px;
    height: 200px;
  }

  .main__text {
    font-size: 20px;
  }
}
