.cart {
  display: flex;
  justify-content: space-between;
  width: 96%;
}

.cart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.cart__divider {
  width: 100%;
  height: 2px;
  background-color: black;
}

.cart__item-section {
  padding: 14px 0;
  display: flex;
  flex-direction: row;
}
