.cart {
  display: flex;
  justify-content: space-between;
  width: 96%;
}

.cart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.cart__title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart__submit {
  margin: 0 20px;
  padding: 4px;
  border: solid 2 px black;
  border-radius: 4px;
  background-color: black;
  color: white;
  font-family: "Bruno-Ace";
  transition: 0.1s;
  font-size: 16px;
}

.cart__submit:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.6;
}

.cart__divider {
  width: 100%;
  height: 2px;
  background-color: black;
}

.cart__item-section {
  padding: 14px 0;
  display: flex;
  flex-direction: row;
}
